/.git
/.vscode
/android
/ios
node_modules
build
/*.js
**/*.jpeg
**/*.jpg
**/*.png
**/*.svg
yarn.lock
coverage/
.jest
.buckconfig
.editorconfig
.flowconfig
.gitattributes
.gitignore
*.json
*.md
**/*.ttf
